[paths]
source =
   pylint

[report]
include =
    pylint/*
omit =
    */test/*
exclude_also =
    # Debug-only code
    def __repr__

    # Type checking code not executed during pytest runs
    if TYPE_CHECKING:
    @overload

    # Abstract methods are not executed during pytest runs
    raise NotImplementedError()

    # Fallback cases which should never be executed
    raise AssertionError
