.svn/
.hg/
.hgtags/
/log
*.py[cod]
/build
/doc/_build
/dist/
/pylint.egg-info/
.tox
*.sw[a-z]
doc/technical_reference/extensions.rst
doc/technical_reference/features.rst
pyve
build-stamp
debian/files
debian/pylint.*.log
debian/pylint.*.debhelper
debian/pylint.substvars
debian/pylint
.coverage
.coverage.*
.idea
.cache/
.eggs/
.pytest_cache/
.mypy_cache/
