# Do not add entries specific to your dev environment or development
# preferences in this file. You can use the global .gitignore for that:
# git config --global core.excludesFile '~/.gitignore'
/log
*.py[cod]
/build
/doc/_build
/dist/
/pylint.egg-info/
.tox
*.sw[a-z]
doc/technical_reference/extensions.rst
doc/technical_reference/features.rst
pyve
build-stamp
.coverage
.coverage.*
.cache/
.eggs/
.pytest_cache/
.mypy_cache/
.benchmarks/
.pylint_primer_tests/
