include ChangeLog
include CONTRIBUTORS.txt
include COPYING
include DEPENDS
include README.rst
include bin/*
include examples/*.py examples/pylintrc examples/pylintrc_camelcase
include elisp/startup elisp/*.el
include man/*.1
include pytest.ini
recursive-include doc *.bat *.png *.py *.svg *.rst *.txt Makefile
graft tests
recursive-exclude tests *.pyc
