.[testutils,spelling]
# astroid dependency is also defined in pyproject.toml
# test 3.13 upgrade
astroid @ git+https://github.com/pylint-dev/astroid.git@bdb75681adf0ee7e129f976baa4e4ed89aa61041
typing-extensions~=4.12
py~=1.11.0
pytest~=8.2
pytest-benchmark~=4.0
pytest-timeout~=2.3
towncrier~=23.11
requests
# Voluntary for test purpose, not actually used in prod, see #8904
setuptools==41.6.0
