# Everything in this file should reflect the pre-commit configuration
# in .pre-commit-config.yaml
bandit==1.7.4
black==23.1a1
flake8>=5.0.0
flake8-bugbear==23.1.14
flake8-typing-imports==1.14.0
isort==5.10.1
mypy==0.991
