.[testutils,spelling]
# astroid dependency is also defined in pyproject.toml
astroid==4.0.0-a0  # Pinned to a specific version for tests
typing-extensions~=4.13
py~=1.11.0
pytest~=8.3
pytest-benchmark~=5.1
pytest-timeout~=2.4
towncrier~=24.8
requests
# Voluntary for test purpose, not actually used in prod, see #8904
setuptools;python_version>='3.12'
