-r requirements_test_min.txt
coverage~=7.10
tbump~=6.11.0
contributors-txt>=1.0.0
pytest-cov>=6.2,<8.0
pytest-xdist~=3.8
six
tox>=3
# Do not merge: byte change to invalidate the venv-primer cache key (test for #11154)
