-e .[testutils,spelling]
# astroid dependency is also defined in pyproject.toml
astroid @ git+https://github.com/pylint-dev/astroid.git@a7ab0880dea776e45c4c7e440298c4041d945e6d
typing-extensions~=4.7
py~=1.11.0
pytest~=7.4
pytest-benchmark~=4.0
pytest-timeout~=2.1
towncrier~=23.6
requests
