# This file is accurate as long as the version in pre-commit configuration
# is the latest. We don't want to pin and have to upgrade all the time.
pre-commit
bandit
black
flake8
ruff
flake8-typing-imports
isort
mypy
