#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.
#
# adapted by Logilab for automatic generation by debianize
# (part of the devtools project, http://www.logilab.org/projects/devtools)
#
# Copyright (c) 2003-2008 LOGILAB S.A. (Paris, FRANCE).
# http://www.logilab.fr/ -- mailto:contact@logilab.fr

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PACKAGE:=$(shell grep Package debian/control | cut -d ' ' -f2)

include /usr/share/python3/python.mk

%:
	dh --with python3 $@

override_dh_install:
	NO_SETUPTOOLS=1 python3 setup.py -q install --no-compile \
		--root=$(CURDIR)/debian/$(PACKAGE)/ \
		${py_setup_install_args}
	find $(CURDIR)/debian/$(PACKAGE)/usr/lib/python*/*-packages/ ! -path "*/test/*py" -name "*py" -exec 2to3-3.1 -wn {} \;
	for executable in pylint pylint-gui symilar epylint pyreverse ; do \
		new_exec="$$executable"3; \
		mv -v $(CURDIR)/debian/$(PACKAGE)/usr/bin/$$executable $(CURDIR)/debian/$(PACKAGE)/usr/bin/$$new_exec; \
	done
	# remove test directory
	rm -rf debian/$(PACKAGE)/usr/lib/python*/*-packages/pylint/test

override_dh_installdocs:
	dh_installdocs README*
	dh_installchangelogs -i ChangeLog

