[EXCEPTIONS]
overgeneral-exceptions=builtins.BaseException,
                       builtins.Exception,
                       functional.b.broad_exception.broad_exception_raised.CustomBroadException,
                       broad_exception_raised.CustomBroadException
