Source: pylint
Section: python
Priority: optional
Maintainer: Logilab S.A. <contact@logilab.fr>
Uploaders: Sylvain Thénault <sylvain.thenault@logilab.fr>, Alexandre Fayolle <afayolle@debian.org>, Sandro Tosi <morph@debian.org>
Build-Depends: debhelper (>= 5.0.38), python (>= 2.4)
Build-Depends-Indep: python-support
Standards-Version: 3.8.1
XS-Python-Version: all
Homepage: http://www.logilab.org/project/pylint
Vcs-Svn: svn://svn.debian.org/svn/python-apps/packages/pylint/trunk/
Vcs-Browser: http://svn.debian.org/viewsvn/python-apps/packages/pylint/trunk/

Package: pylint
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-logilab-common (>= 0.53.0), python-logilab-astng (>= 0.24.3)
Suggests: python-tk
XB-Python-Version: ${python:Versions}
Conflicts: python2.2-pylint, python2.3-pylint, python2.4-pylint, pylint-common, pylint-test
Replaces: python2.2-pylint, python2.3-pylint, python2.4-pylint, pylint-common, pylint-test
Description: python code static checker and UML diagram generator
 Pylint is a Python source code analyzer which looks for programming
 errors, helps enforcing a coding standard and sniffs for some code
 smells (as defined in Martin Fowler's Refactoring book)
 .
 Pylint can be seen as another PyChecker since nearly all tests you
 can do with PyChecker can also be done with Pylint. However, Pylint
 offers some more features, like checking length of lines of code,
 checking if variable names are well-formed according to your coding
 standard, or checking if declared interfaces are truly implemented,
 and much more.
 .
 Additionally, it is possible to write plugins to add your own checks.
 .
 The included command pyreverse generates UML class and package
 diagrams. The included symilar command is a separated similarities checker.
 .
 The recommended python-tk package is only for using the pylint-gui
 script.
